@model Web.Areas.Admin.Models.Users.UserPermissionsModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-5">@Model.UserName</h1>
<div class="mx-auto">
    <div>
        <h3>@Model.UserName</h3>
        <div class="d-flex">
            @if (Model.IsAdmin)
            {
                <h5 class="mx-2 text-danger">@Html.DisplayNameFor(x => Model.IsAdmin)</h5>
            }
            @if (Model.IsEditor)
            {
                <h5 class="mx-2 text-primary">@Html.DisplayNameFor(x => Model.IsEditor)</h5>
            }
        </div>
        <p class="pb-0 m-0">@Model.Email</p>
        <small>@Model.Id</small>
    </div>

    @if (User.Identity.Name != Model.UserName)
    {
        <div class="border-success border col-md-4 mx-auto">
            <form asp-action="ManagePermissions" asp-controller="Users" asp-area="Admin" method="post" class="m-3">
                <div class="d-flex justify-content-around">
                    <div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsEditor" /> @Html.DisplayNameFor(model => model.IsEditor)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                            </label>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input type="submit" class="btn btn-success my-3 mx-3" value="Запази" />
                    </div>
                </div>
            </form>
        </div>
        <div class="border-success border col-md-4 mx-auto">
            <div class="d-flex justify-content-around align-items-center">
                @if (Model.LockoutEnd == null || Model.LockoutEnd < DateTime.UtcNow)
                {
                    <p>Заключи акаунт</p>
                    <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@Model.Id">
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <p>Отключи акаунт</p>
                    <a class="btn btn-danger text-white" asp-action="Unlock" asp-route-id="@Model.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
            </div>
        </div>
    }
</div>

<a asp-action="Permissions">
    Назад към списъка
</a>
