@model TeamMemberInputModel

@{
    var imgSource = Model?.PhotoUrl ?? "";
}
<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        Добави член на екипа
    </h1>
</div>

<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form id="Form" enctype="multipart/form-data" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
                <div><small class="text-dark">Забележка: Уникалният идентификационен номер на потребителя може да намерите в <a asp-area="Admin" asp-controller="Users" asp-action="Permissions">Администраторската секция.</a></small></div>
            </div>
            <div class="form-group">
                <label asp-for="UserUserName" class="control-label"></label>
                <input asp-for="UserUserName" id="autocomplete" class="form-control" />
                <span asp-validation-for="UserUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrtiption" class="control-label"></label>
                <textarea asp-for="Descrtiption" class="form-control edit-with-tinymce"></textarea>
                <span asp-validation-for="Descrtiption" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActiveMember" /> @Html.DisplayNameFor(model => model.IsActiveMember)
                </label>
            </div>
            <div id="photo-url" class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input id="photo-url-field" asp-for="PhotoUrl" class="form-control" />
                <div><small class="text-dark">Забележка: Трябва да напишете връзка към съществуващ адрес. Ако визуализацията не работи, адресът е невалиден.</small></div>
                <div><img id="url-preview" src="@imgSource" style="height:200px;" alt="Photo preview" /></div>
                <div><span asp-validation-for="@Model.PhotoUrl" class="text-danger"></span></div>
                <button id="upload-img" type="button" class="btn btn-primary my-4">Качете снимка вместо това</button>
            </div>
            <div id="photo-img" class="form-group">
                <label asp-for="@Model.PhotoUpload"></label>
                <input asp-for="@Model.PhotoUpload" />
                <button id="upload-url" type="button" class="btn btn-primary my-4">Напишете връзка към съществуваш адрес вместо това </button>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавяне" class="btn btn-primary" />
            </div>
            <div>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Зареждане...</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад към екипа</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_EditorPartial"); }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_PhotoUploadPartial", imgSource);}
    @{await Html.RenderPartialAsync("_AutocompleteScriptsPartial");}

}
