@model TeamIndexViewModel

@{
    ViewData[TitleViewDataParam] = "Екип";
    var isEditorUser = User.IsEditor();
}

<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        Нашият екип
    </h1>
</div>

@if (isEditorUser)
{
    <div class="d-flex">
        <form class="mx-5" method="get" asp-controller="Team" asp-action="Create">
            <input class="btn btn-primary" value="Добавяне" type="submit" />
        </form>
    </div>
}

<hr />

<ul class="list-unstyled">
    @foreach (var member in Model.ActiveMembers)
    {
        <li class="col-md-4 col-sm-12 mb-4">
            <div>
                <div>
                    <img class="w-100" src="@member.PhotoUrl" />
                </div>
                <div class="d-flex justify-content-center">
                    <h5>
                        @member.UserUserName
                    </h5>
                </div>
                <p>@member.Descrtiption</p>
                @if (isEditorUser)
                {
                    <a asp-action="Edit" asp-controller="Team" asp-route-id="@member.Id">
                        Редактирай
                    </a>
                }
            </div>
        </li>
    }
</ul>

@if (Model.InactiveMembers?.Any() ?? false)
{
    <br />
    <div class="m-auto text-center">
        <h3 class="font-weight-bold">
            Бивши членове на екипа
        </h3>
    </div>
    <hr />
    <ul>
        @foreach (var member in Model.InactiveMembers)
        {
            <li>
                <div class="col-md-4 col-sm-12">
                    <div>
                        <img src="@member.PhotoUrl" />
                    </div>
                    <h5>@member.UserUserName</h5>
                    <p>@member.Descrtiption</p>
                    @if (isEditorUser)
                    {
                        <a asp-action="Edit" asp-controller="Team" asp-route-id="@member.Id">
                            Редактирай
                        </a>
                    }
                </div>
            </li>
        }
    </ul>
}