<!DOCTYPE html>
<html lang="bg">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta lang="bg" />
    @if (ViewData[MetaDescriptionViewDataParam] != null && !ViewData[MetaDescriptionViewDataParam].Equals(""))
    {
        <meta name="description" content="@ViewData[MetaDescriptionViewDataParam] | @MetaDefaultDescription" />
    }
    else
    {
        <meta name="description" content="Училищна телевизия към ППМГ &quot;Добри Чинтулов&quot; Сливен">
    }
    @if (ViewData[MetaKeywordsViewDataParam] != null && !ViewData[MetaKeywordsViewDataParam].Equals(""))
    {
        <meta name="keywords" content="ППМГТВ, ППМГ ТВ, PPMG TV, PPMGTV, @MetaDefaultKeywords, @ViewData[MetaKeywordsViewDataParam]">
    }
    else
    {
        <meta name="keywords" content="@MetaDefaultKeywords">
    }
    <meta name="author" content="@MetaAuthor">

    @{
        string image = GenerateStaticFileUrl("logo.png");
        string url = $"https://{@Context.Request.Host}{@Context.Request.Path}";
        string title = SystemName;
        string description = "Училищна телевизия към ППМГ &quot;Добри Чинтулов&quot; Сливен";
        var titleExists = ViewData[TitleViewDataParam] != null && !ViewData[TitleViewDataParam].Equals("");
        if (titleExists)
        {
            title = $"{SystemName} | {ViewData[TitleViewDataParam]}";
        }
        if (ViewData[MetaOgImageUrlDataParam] != null && !ViewData[MetaOgImageUrlDataParam].Equals(""))
        {
            image = ViewData[MetaOgImageUrlDataParam].ToString();
        }
        if (ViewData[MetaDescriptionViewDataParam] != null && !ViewData[MetaDescriptionViewDataParam].Equals(""))
        {
            description += $" | {ViewData[MetaDescriptionViewDataParam]}";
        }

    }
    <meta property="og:site_name" content="@SystemName">
    <meta property="og:url" content="@url">
    <meta property="og:title" content="@title">
    <meta property="og:image" content="@image">
    <meta property="og:description" content="@description">
    <meta property="og:locale" content="bg-BG">
    @if (ViewData[MetaOgVideoUrlDataParam] != null && !ViewData[MetaOgVideoUrlDataParam].Equals(""))
    {
        <meta property="og:type" content="video.other">
        <meta property="og:video:url" content="@ViewData[MetaOgVideoUrlDataParam]">
    }

    @if (titleExists)
    {
        <title>@ViewData[TitleViewDataParam] - @SystemName</title>
    }
    else
    {
        <title>@SystemName</title>
    }

    <partial name="_GoogleAnalyticsPartial" />
    <partial name="_GoogleTagManagerPartial" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawsome/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/pure-css-loader/dist/css-loader.min.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
              integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
              integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/pure-css-loader@3.3.3/dist/css-loader.css"
              integrity="sha256-APor1ffEkcCbfSB7MMvBCj6+itRX/blZ5h4p/gbnRgk="
              crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <partial name="_GoogleTagManagerNoScriptPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index">Видеа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Екип</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Контакти</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @{ var currentYear = DateTime.UtcNow.Year > 2020 ? $"- {DateTime.UtcNow.Year}" : "";

            }
            &copy; 2020 @currentYear - @SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <partial name="_SpinnerPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
