@model Web.Models.Videos.VideosIndexViewModel
@using static Common.Helpers.TimeZoneConverter
@using static Common.Constants.DataParams

@{
    ViewData[TitleViewDataParam] = "Непублични видеа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-5">Непублични видеа</h1>

@if (Model?.Videos.Any() ?? false)
{
    <ul class="list-inline text-dark">
        @foreach (var videoCard in Model?.Videos)
        {
            <li class="pb-3 text-decoration-none">
                <a asp-area="" asp-controller="Videos" asp-action="Watch" asp-route-id="@videoCard.Id" asp-route-slug="@videoCard.Slug"
                   class="content-heading clearfix media box-hover text-decoration-none">
                    <img class="rounded float-left h-25 w-25 ml-auto" src="@videoCard.ThumbnailUrl" alt="Video Thumbnail">
                    <div class="col-md-6 ml-4">
                        <h3>@videoCard.Title</h3>
                        <p>@videoCard.Description</p>
                        <p>Излъчено на: @videoCard.PremiredOn.ConvertToLocal()</p>
                    </div>
                </a>
            </li>
        }
    </ul>

    <nav>
        <ul class="pagination justify-content-center" style="padding-top:30px; margin-bottom:0px;">
            @if (this.Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Videos" asp-action="Unlisted" asp-route-id="@(this.Model.CurrentPage - 1)" aria-label="Предишна">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @{
                const int MorePagesToShow = 3;
                var pagesToShow = new List<int>();
                for (var i = 1; i <= MorePagesToShow; i++)
                {
                    pagesToShow.Add(i);
                }
                for (var i = this.Model.CurrentPage - MorePagesToShow; i <= this.Model.CurrentPage + MorePagesToShow; i++)
                {
                    if (i > 0)
                    {
                        pagesToShow.Add(i);
                    }
                }
                for (var i = this.Model.PagesCount - MorePagesToShow + 1; i <= this.Model.PagesCount; i++)
                {
                    if (i > 0)
                    {
                        pagesToShow.Add(i);
                    }
                }
                pagesToShow = pagesToShow.Where(x => x <= this.Model.PagesCount).Distinct().OrderBy(x => x).ToList();
            }
            @for (var i = 0; i < pagesToShow.Count; i++)
            {
                var className = string.Empty;
                var pageNumber = pagesToShow[i];
                if (pageNumber == this.Model.CurrentPage)
                {
                    className = "active";
                }
                if (i > 0 && pageNumber - 1 != pagesToShow[i - 1])
                {
                    <li class="page-item @className"><a class="page-link" asp-controller="Videos" asp-action="Unlisted" asp-route-id="@(pagesToShow[i - 1] + 1)">...</a></li>
                }
                <li class="page-item @className"><a class="page-link" asp-controller="Videos" asp-action="Unlisted" asp-route-id="@pageNumber">@pageNumber</a></li>
            }
            @if (this.Model.CurrentPage < this.Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Videos" asp-action="Unlisted" asp-route-id="@(this.Model.CurrentPage + 1)" aria-label="Следваща">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
}
else
{
    <h5>Няма частни видеа</h5>
}