@model VideoViewModel

@{
    ViewData[TitleViewDataParam] = "Гледай видео";
}

@if (User.IsEditor())
{
    <div class="d-flex">
        <form class="mx-2" method="get" asp-controller="Videos" asp-action="Edit" asp-route-id="@Model.Id">
            <input class="btn btn-primary" value="Редактирай" type="submit" />
        </form>
        <form class="mx-2" method="post" asp-controller="Videos" asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" class="btn btn-danger" value="Изтрий" onclick="return confirm('Сигурен ли си, че искаш да изтриеш това видео?');" />
        </form>
    </div>
}

<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        @Model.Title
    </h1>
</div>

<div class="row">
    <iframe id="video-frame"
            class="m-auto"
            src="@Model.VideoUrl"
            frameborder="0"
            allowfullscreen
            alt="ППМГ ТВ Сливен - Видео - @Model.Title"></iframe>
</div>

<div class="ml-4 py-5">
    <p class="lead">@Model.Description</p>
    <p>Излъчено на: @Model.PremiredOn.ConvertToLocal()</p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_FrameResizeScriptsParial");}
}