@model GalleryIndexViewModel

@{
    ViewData[TitleViewDataParam] = "Галерия";
    var isEditorUser = User.IsEditor();
}

<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        Галерия
    </h1>
</div>

@if (isEditorUser)
{
    <div class="d-flex">
        <form class="mx-5" method="get" asp-controller="Team" asp-action="Create">
            <input class="btn btn-primary" value="Добавяне" type="submit" />
        </form>
    </div>
}

<hr />

<ul class="list-unstyled">
    @foreach (var gallery in Model.Galleries)
    {
    <li class="w-100 mb-5 d-flex justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="d-flex justify-content-center">
                <h2 class="text-center">@gallery.Title</h2>
            </div>
            <p class="mt-3 mb-4 text-center">@gallery.PreDescription</p>
            <div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@gallery.ImagesUrls[0]" alt="Slide 1 - ППМГ ТВ Сливен - @gallery.Title">
                    </div>
                    @for (int i = 1; i < gallery.ImagesUrls.Count; i++)
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100" src="@gallery.ImagesUrls[i]" alt="Slide @(i+1) - ППМГ ТВ Сливен - @gallery.Title">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предишен</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следващ</span>
                </a>
            </div>
            <div>
                @Html.Raw(gallery.Description)
            </div>
            <div>
                <a>
                    Преглед на всички снимки
                </a>
            </div>
            @if (isEditorUser)
            {
                <a asp-action="Edit" asp-controller="Gallery" asp-route-id="@gallery.Id">
                    Редактирай
                </a>
            }
        </div>
    </li>
    }
</ul>



